<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SIC.Properties.Settings.SICConnectionString" connectionString="Data Source=DESKTOP-TORDSBV\SQLEXPRESS;Initial Catalog=SIC;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>