<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Negocios.Properties.Settings.SICConnectionString"
            connectionString="Data Source=DESKTOP-TORDSBV\SQLEXPRESS;Initial Catalog=SIC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>